
		<td><h2>LISTA PARA ADMINISTRAR:</h2></td>
		<hr>
        <td><%= link_to 'Products', admin_products_path %></td>
        <td><%= link_to 'Orders', admin_orders_path %></td>
        <td><%= link_to 'Users', admin_users_path  %> </td>
