<p>Likes: <strong> <%= @product.likes.count %></strong></p>

<p>
	<% unless @product.liked_by? current_user  %>
		<%= link_to 'Me Gusta', like_product_path(@product) %>
	<% else %>
		<%= link_to 'Deshacer Me gusta', like_product_path(@product)  %>
	<% end %>
</p>